/* This is a free layout for anyone to use!
All I ask is that you keep this credit in-tact, or that you put my website link
(https://nonkiru.art) somewhere on your site. 

Otherwise, edit this as much as you'd like! 

Last Updated: 8th December 2024 */

/* These are the default colour codes for the layout.
Changing the colour code here will update it for any element that uses it. */
:root {
    /* Default: Pink */
    --primary: #ffc9c6;

    /* Default: Light Pink */
    --primary_light: #ffedeb;

    /* Default: Dark Pink */
    --primary_dark: #ee918c;

    /* Default: White */
    --secondary: #fefbf5;

    /* Default: Brown */
    --tertiary: #ad4944;

    /* Default: Blue */
    --link: #2453d4;
}

body {
    background: var(--secondary);
    background-image: url(img/bg.gif);
    color: var(--tertiary);
    font-size: 16px;
    font-family: MS Gothic, Verdana, sans-serif;
    line-height: 18px;
}

/* Link Styling */
a {
    color: var(--link);
    /* Adds a smooth effect to link hover. */
    transition: 0.1s all ease-in-out;
}

a:hover {
    color: var(--primary_dark);
}

/* Header Styling */
h1 {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid var(--primary);
    padding: 4px;
}

table th {
    text-align: left;
    background-color: var(--primary_light);
}

/* List Styling */
ul {
    list-style-image: url('img/heart_bullet.gif');
    list-style-position: inside;
    margin: 5px;
    padding: 0;
}

.container {
    background: var(--secondary);
    border: 1px solid var(--tertiary);
    border-radius: 2px;
    width: 800px;
    box-shadow: 2px 2px 0px var(--primary);
    margin: 5px auto;
    cursor: move;
}

.box {
    border: 1px solid var(--primary);
    padding: 5px;
}

.box_header {
    border: 1px solid var(--primary);
    background-color: var(--primary_light);
    height: 20px;
    padding: 5px;
    /* This centers the text vertically. */
    line-height: 20px;
}

/* Changes the brightness of the fake buttons on hover. Also changes the cursor. */
.box_header img:hover {
    filter: brightness(103%);
    cursor: pointer;
}

/* Darkens and saturates the buttons on click. Also changes the cursor. */
.box_header img:active {
    filter: brightness(97%) saturate(125%);
    cursor: pointer;
}

/* Mobile Support */
@media only screen and (max-width: 890px) {
    .container {
        position: static;
        width: 100%;
        margin: unset;
        margin-bottom: 5px;
    }
}