<!DOCTYPE html>
<html lang="en">
    <!-- Thank you for stopping by nonkiru.art! ♪(^∇^*) -->
    <!-- Unless otherwise stated, all the art on this site is made by me. -->
    <!-- Don't use any of the materials on this site without permission. -->
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A personal website for the digital illustrator nonkiru. I have pages for my artwork, original characters, and more!">
        <meta name="keywords" content="digital art, art, commissions, ocs, original characters, neocities">
        <meta name='author' content='nonkiru, nonkiru@gmail.com'>
        <meta property="og:image" content="https://files.catbox.moe/cwvsgp.png" />
        <meta property="twitter:card" content="summary_large_image">
        <meta content="nonkiru.art" property="og:title" />
        <meta property="og:description" content="A personal website for the digital illustrator nonkiru. I have pages for my artwork, original characters, and more!" />
        <meta content="https://nonkiru.art" property="og:url" />
        <meta content="#ffdfe9" data-react-helmet="true" name="theme-color" />
        <!-- -->
        <link rel="stylesheet" href="/assets/css/silly.css?v=1.5">
        <link rel="shortcut icon" type="image/jpg" href="/assets/img/favicon.ico">
        <title>{{ title }}</title>
    </head>
    <body>

        <div class="container">
            <header>
                <div class="header">
                    <img src="/assets/website/logo.png" alt="" style="position: absolute; left: 1rem; bottom: 1rem;">
                </div>
            </header>
            <div class="flex">

                <div class="sidebox" id="theme_s">
                    <nav>
                        <h2 id="MobileNavToggle" onclick="MobileNavigationFunc()">Mobile Navigation (Tap)</h2>
                        <div id="MobileNav">
                        <img src="/assets/website/sidebar.png" alt="" id="me">

                        <br>
                        <a href="javascript:;" class="a_img" onclick="lightmode()" onmouseover="document.light.src='/assets/website/light_theme_hover.png';" onmouseout="document.light.src='/assets/website/light_theme.png';" 
                        onfocus="document.light.src='/assets/website/light_theme_hover.png';" onfocusout="document.light.src='/assets/website/light_theme.png';">
                        <img src="/assets/website/light_theme.png" alt="Light Theme" name="light"></a>

                        <a href="javascript:;" class="a_img" onclick="darkmode()" onmouseover="document.dark.src='/assets/website/dark_theme_hover.png';" onmouseout="document.dark.src='/assets/website/dark_theme.png';" 
                        onfocus="document.dark.src='/assets/website/dark_theme_hover.png';" onfocusout="document.dark.src='/assets/website/dark_theme.png';">
                        <img src="/assets/website/dark_theme.png" alt="Dark Theme" name="dark"></a>
                        <br>
                        <img src="/assets/website/divider.png" alt="">

                        <br>
                        {% include 'partials/nav.njk' %}
                        </div>
                    </nav>
                </div>

                <div class="mainbox" id="theme_m">
                    <main>
                        <h1>{{ h1 }}</h1>
                        {{ content | safe }}
                    </main> 
                </div>
                    
            </div>

            <div class="footer" id="theme_f">
                <footer>{% include 'partials/footer.njk' %}</footer>
            </div>
        
        </div>
        <aside> 
        <div class="pagedoll">
            <img src="/assets/website/pagedoll.png" alt="">
        </div>
        </aside> 

    </body>
    <!-- Stay safe out there~ ♪ -->
    <script>
        /* behold, nonkiru javascript!! :33 */
        var root = document.querySelector(':root');

        function lightmode() {

            document.getElementById('theme_s').style.transition = "all 0.3s";
            document.getElementById('theme_m').style.transition = "all 0.3s";
            document.getElementById('theme_f').style.transition = "all 0.3s";

            document.body.style.backgroundImage = 'url(/../assets/website/bg.png)';

            root.style.setProperty('--yellow', '#ffede5');
            root.style.setProperty('--yellow_darker', '#ffe3d4');
            root.style.setProperty('--pink_darker', '#ac2244');
            root.style.setProperty('--bg', '#fff9f6');
            root.style.setProperty('--text', '#9A3F3F');
        }
        function darkmode() {

            document.getElementById('theme_s').style.transition = "all 0.3s";
            document.getElementById('theme_m').style.transition = "all 0.3s";
            document.getElementById('theme_f').style.transition = "all 0.3s";

            document.body.style.backgroundImage = 'url(/../assets/website/bg_dark.png)';
            
            root.style.setProperty('--yellow', '#5c3f4b');
            root.style.setProperty('--yellow_darker', '#71505e');
            root.style.setProperty('--pink_darker', '#FFD3D4');
            root.style.setProperty('--bg', '#4b313c');
            root.style.setProperty('--text', '#fff9f6');
        }

        function MobileNavigationFunc() {
            var x = document.getElementById("MobileNav");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        } 
    </script>
</html>