<div class="navigationbanner">site</div>
{% for item in site.data.navigation %}
<a class="navbutton" href="{{ item.link }}" {% if page.url == item.link %}style="background-color: var(--darkgreen);"{% endif %}>
  {{ item.name }}
</a>
{% endfor %}
<div class="statsbanner">stats</div>
<div style="margin-left: -10px; text-align: center;">
<a href="https://www.imood.com/users/nonkiru" class="nositebutton"><img src="https://moods.imood.com/display/uname-nonkiru/fg-a03a0e/bg-f4dbb8/imood.gif" alt="The current mood of nonkiru at www.imood.com" border="0"></a>
</div>