@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --brown: #af572e;
  --light-brown: #b85a4a;
  --dark-brown: #97421a;
  --white: #fff3ee;
  --pink: #ffe6e4;
  --dark-pink: #ffd6d6;
  --pink-border: #f0aca7;
  --pink-link: #df8888;
  --green: #746E34;
  --dark-green: #53571b;
  --yellow: #ffebe2;
}

::selection {
  background-color: var(--pink);
}

body {
  background-color: var(--pink);
  background-image: url(../images/patchwork.gif);
  color: var(--brown);
  font-size: 12px;
  font-family: "Atkinson Hyperlegible", serif;
  cursor: url("../images/cursor.gif"), default;
}

p {
  margin: unset;
  padding: unset;
}

h1 {
  padding: unset;
  margin: unset;
  font-size: 14px;
  background-color: var(--pink);
  margin-bottom: 10px;
  color: var(--dark-brown);
}

h2 {
  padding: unset;
  margin: unset;
  font-size: 13px;
  background-color: var(--pink);
  margin-bottom: 10px;
  color: var(--dark-brown);
}

hr {
  border-bottom: none;
  border-top: 1px solid var(--pink-border);
}

a {
  color: var(--green);
  transition: 0.2s;
  position: relative;
  top: 0;
}

a:hover {
  color: var(--dark-green);
  text-shadow: 0px 0px 2px var(--pink-border);
  top: -2px;
  cursor: url("../images/pointer.gif"), pointer;
}

a[href^="http://"]:after, a[href^="https://"]:after {
  content: " \f08e";
  font-family: FontAwesome;
}

.noout:after {
  content: none !important;
}

.container {
  max-width: 600px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0;
  margin: auto;
}

.lacebox {
  border-image-slice: 10 10 10 10 fill;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 10px 10px 10px;
  border-image-repeat: round round;
  border-image-source: url("../images/lace_border.gif");
  border-style: solid;
  padding: 5px;
}

.box {
  border: 1px solid var(--brown);
  background-color: var(--white);
  border-radius: 2px;
  outline: 1px solid var(--pink-border);
  padding: 1px;
}

.header {
  background-color: var(--dark-pink);
  padding: 5px;
  border-bottom: 1px dotted var(--light-brown);
  color: var(--dark-brown);
}

.nav {
  background-color: var(--pink);
  border-bottom: 1px solid var(--light-brown);
}

.nav a {
  padding: 5px;
  display: inline-block;
  margin-left:-4px;
  text-decoration: none;
  color: var(--dark-brown);
  top: 0;
}

.nav a:first-child {
  margin-left: 0px;
}

.nav a:hover {
  background-color: var(--dark-pink);
  text-shadow: 0 0 2px var(--pink-link);
  cursor: url("../images/pointer.gif"), pointer;
}

.current {
  background-color: var(--dark-pink);
  border: 1px dotted var(--pink-border);
  color: var(--dark-brown);
}

.link {
  border: 1px dotted var(--dark-pink);
  color: var(--pink-link)
}

.stuff {
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: var(--dark-brown);
  margin-top: 15px;
}

.footer a {
  color: var(--dark-brown);
}

.flex {
  display: flex;
}

/* home */
.hometop {
  border-bottom: 1px dotted var(--pink-link);
  height: 210px;
}

.artbox {
  margin-top: 10px;
  height: 100px;
  background-color: var(--yellow);
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  border: 1px solid var(--pink-border);
  border-radius: 2px;
}

.artbox img {
  width: 100%;
  position: absolute;
}

.artbox span {
  z-index: 100;
  background-color: var(--yellow);
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: var(--pink-border) 1px solid;
  padding: 2px;
}

a .artbox {
  color: var(--dark-brown);
}

.artbox:hover {
  box-shadow: 0px 2px 2px var(--pink);
  font-style: italic;
  cursor: url("../images/pointer.gif"), pointer;
}

.homebottom {
  text-align: center;
}

.homebox {
  width: 50%;
  border: 1px dotted var(--pink-border);
  margin: 5px;
  margin-bottom: 15px;
  height: 100px;
  overflow-y: scroll;
  background-color: var(--yellow);
  color: var(--dark-brown);
}

.homebox h2 {
  margin-bottom: 0px;
  border-bottom: 1px solid var(--pink-border)
}

.homebox hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.non {
  position: absolute;
  cursor: url("../images/pointer.gif"), pointer;
  top: 350px;
  left: 420px;
  z-index: 999;
}

.lopmon {
  cursor: url("../images/pointer.gif"), pointer;
  position: absolute;
  top:93%; 
  left:40%;
  z-index: 999;
}

/* about */

.ulnomargin ul, li {
  margin: 0px;
  padding: 0px;
}

.smallimages img {
  height: 100px;
}

button {
  background-color: var(--pink);
  border: 1px solid var(--pink-border);
  color: var(--dark-brown);
  transition: 0.2s;
  position: relative;
  top: 0;
}

button:hover {
  background-color: var(--dark-pink);
  text-shadow: 0px 0px 2px var(--pink-link);
  top: -2px;
  cursor: url("../images/pointer.gif"), pointer;
}

/* art */

ul.photogallery {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.photogallery li {
  display: inline-block;
}

.photogallery img {
  height: 200px;
  border: 1px solid var(--pink-link);
}

.pixelart {
  height: auto !important;
  border: none !important;
}

/* blog */

.blog-info {
  font-style: italic;
  color: var(--pink-link);
  border-bottom: 1px dotted var(--pink-link);
  margin-bottom: 5px;
}

.blog-img {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--brown);
}

/* mobile compatibility */

@media only screen and (max-width: 600px) {
  .artbox {
    height: 50px;
  }
  .non {
    display: none;
  }
  .lopmon {
    position: unset;
    top: unset;
    left: unset;
    margin: auto;
    margin-top: -20px;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #df8888 #ffe6e4;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffe6e4;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #df8888;
    border-radius: 10px;
    border: 3px solid #df8888;
  }

/* === from https://furryring.neocities.org/ === */
#furryring a {
  text-decoration:none; 
}

#furryring a:after {
  content: none !important;
}

#furryring {
  margin: 0 auto;
  text-decoration: none;
}

#furryring table {
  margin: 0 auto;
}

#furryring table tr td {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#furryring .webring-prev {
  text-align:right;
  text-decoration: none;
}

#furryring .webring-info {
   text-align:center;
     text-decoration: none;
}

#furryring .webring-next {
  text-align:left;
    text-decoration: none;
}

#furryring .webring-links {
  font-size:small;
    text-decoration: none;
}