@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --brown: #af572e;
  --light-brown: #b85a4a;
  --white: #fff3ee;
  --pink: #ffe6e4;
  --dark-pink: #ffd6d6;
  --pink-border: #f0aca7;
  --pink-link: #df8888;
  --green: #948e58;
}

body {
  background-color: var(--pink);
  background-image: url(../images/patchwork.gif);
  color: var(--brown);
  font-size: 12px;
  font-family: "Atkinson Hyperlegible", serif;
}

p {
  margin: unset;
  padding: unset;
}

h1 {
  padding: unset;
  margin: unset;
  font-size: 14px;
  background-color: var(--pink);
  margin-bottom: 10px;
}

h2 {
  padding: unset;
  margin: unset;
  font-size: 13px;
  background-color: var(--pink);
  margin-bottom: 10px;
}

hr {
  border-bottom: none;
  border-top: 1px solid var(--pink-border);
}

a {
  color: var(--green);
}

a[href^="http://"]:after, a[href^="https://"]:after {
  content: " \f08e";
  font-family: FontAwesome;
}

.noout:after {
  content: none !important;
}

.container {
  max-width: 600px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0;
  margin: auto;
}

.box {
  border: 1px solid var(--brown);
  background-color: var(--white);
  border-radius: 2px;
  outline: 1px solid var(--pink-border);
}

.header {
  background-color: var(--dark-pink);
  padding: 5px;
  border-bottom: 1px dotted var(--light-brown);
}

.nav {
  background-color: var(--pink);
  border-bottom: 1px solid var(--light-brown);
}

.nav a {
  padding: 5px;
  display: inline-block;
  text-decoration: none;
}

.current {
  background-color: var(--dark-pink);
  border: 1px dotted var(--pink-border);
  color: var(--brown);
}

.link {
  border: 1px dotted var(--dark-pink);
  color: var(--pink-link)
}

.stuff {
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: var(--pink-link);
}

.footer a {
  color: var(--pink-link);
}

/* home */
.hometop {
  border-bottom: 1px dotted var(--pink-link);
  height: 210px;
}

.hometop img {
  float: inline-start;
}

.homebottom {
  text-align: center;
}

#song {
  text-transform: lowercase;
}

/* blog */

.blog-info {
  font-style: italic;
  color: var(--pink-link);
  border-bottom: 1px dotted var(--pink-link);
  margin-bottom: 5px;
}

.blog-img {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--brown);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #df8888 #ffe6e4;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffe6e4;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #df8888;
    border-radius: 10px;
    border: 3px solid #df8888;
  }