@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cherry+Bomb+One&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

:root {
  --brown: #af572e;
  --light-brown: #b85a4a;
  --dark-brown: #97421a;
  --white: #fff3ee;
  --pink: #ffe6e4;
  --dark-pink: #ffd6d6;
  --pink-border: #f0aca7;
  --pink-link: #df8888;
  --green: #746E34;
  --dark-green: #53571b;
  --yellow: #ffebe2;
  --soft-gradient: linear-gradient(0deg, var(--white) 5%, var(--pink) 10%, var(--dark-pink) 95%, var(--pink) 100%);
  --yellow-gradient: linear-gradient(0deg, var(--white) 5%, var(--pink) 30%, var(--yellow) 95%, var(--white) 100%);
  --soft-gradient-hover: linear-gradient(0deg, var(--white) 5%, var(--pink) 10%, var(--white) 95%, var(--pink) 100%);
  --sky: linear-gradient(0deg, var(--pink) 0%, var(--yellow) 100%);
}

::selection {
  background-color: var(--pink);
}

html {
  height: 100%;
}

body {
  background: var(--sky);
  font-family: "Atkinson Hyperlegible", serif;
  color: var(--brown);
  cursor: url("../images/cursor.gif"), default;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14px;
}

p {
  margin: unset;
  padding: unset;
}

h1 {
  font-family: "Cherry Bomb One", system-ui;
  padding: unset;
  margin: unset;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px;
  background-color: var(--pink);
  margin-bottom: 10px;
  color: var(--dark-brown);
  border-bottom: 1px dotted var(--pink-border);
}

h2 {
  font-family: "Cherry Bomb One", system-ui;
  padding: unset;
  margin: unset;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 4px;
  background-color: var(--pink);
  margin-bottom: 10px;
  color: var(--dark-brown);
}

hr {
  border-bottom: none;
  border-top: 1px solid var(--pink-border);
}

hr {
  border-bottom: none;
  border-top: 1px solid var(--pink-border);
}

a {
  color: var(--green);
  transition: 0.2s;
  position: relative;
  top: 0;
}

a:hover {
  color: var(--dark-green);
  text-shadow: 0px 0px 2px var(--pink-border);
  top: -2px;
  cursor: url("../images/pointer.gif"), pointer;
}

a[href^="http://"]:after, a[href^="https://"]:after {
  content: " \f08e";
  font-family: FontAwesome;
}

button {
  background-color: var(--pink);
  border: 1px solid var(--pink-border);
  color: var(--dark-brown);
  transition: 0.2s;
  position: relative;
  top: 0;
}

button:hover {
  background-color: var(--dark-pink);
  text-shadow: 0px 0px 2px var(--pink-link);
  top: -2px;
  cursor: url("../images/pointer.gif"), pointer;
}

.noout:after {
  content: none !important;
}

.container {
  border: 4px double var(--brown);
  border-radius: 3px;
  outline: 2px solid var(--dark-pink);
  max-width: 900px;
  margin: auto;
  background-color: var(--white);
  margin-top: 30px;
}

.header {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 40px;
  text-shadow: -2px -2px 0 var(--brown), 2px -2px 0 var(--brown), -2px 2px 0 var(--brown), 2px 2px 0 var(--brown);
  height: 100px;
  border-bottom: 1px solid var(--pink-link);
  text-align: center;
  line-height: 100px;
  background-color: var(--dark-green);
  background-image: url("../images/patchwork2.gif");
  color: var(--white);
  text-decoration: none;
  transition: 0.2s;
}

.header span {
  position: relative;
  animation: float 2s linear infinite;
}

.header:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), var(--pink)), url("../images/patchwork2.gif");
  color: var(--dark-pink);
  top: 0;
}

.navigation {
  border-bottom: 1px solid var(--pink-link);
  text-align: center;
  background: var(--yellow-gradient);
}

.navigation a {
  border: 1px solid var(--pink-link);
  border-radius: 3px;
  background-color: var(--pink);
  padding: 5px;
  margin: 7px;
  display: inline-block;
  width: 100px;
  text-decoration: none;
  color: var(--dark-brown);
  background: var(--soft-gradient);
  position: relative;
  top: 0px;
  transition: 0.2s;
}

.navigation a:hover {
  background: var(--soft-gradient-hover);
  position: relative;
  top: -2px;
  color: var(--pink-link);
  text-shadow: 0px 0px 2px var(--pink-border);
}

.main {
  padding: 10px;
}

.main img {
  max-width: 400px;
}

.footer {
  border-top: 1px solid var(--pink-link);
  text-align: center;
  background: var(--yellow-gradient);
  font-size: 10px;
  padding: 10px;
}

.flowers {
  background-image: url("../images/flowers.gif");
  height: 100px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.clouds {
  background-image: url("../images/clouds.gif");
  animation: bg 15s linear infinite;
  height: 150px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -2;
}

.flex {
  display: flex;
}

/* home */
.hometop {
  border-bottom: 1px dotted var(--pink-link);
}

.artbox {
  height: 100px;
  background-color: var(--yellow);
  background-image: url(../images/art/adam_2.png);
  border: 1px solid var(--pink-border);
  border-radius: 2px;
  background-position: -160px 1510px;
  margin: 20px 0px 20px 0px;
}

.artbox span {
  background-color: var(--yellow);
  border-top: var(--pink-border) 1px solid;
}

a .artbox {
  color: var(--dark-brown);
}

.artbox:hover {
  box-shadow: 0px 2px 2px var(--pink);
  font-style: italic;
  cursor: url("../images/pointer.gif"), pointer;
}

.homebottom {
  text-align: center;
}

.homebox {
  width: 50%;
  border: 1px dotted var(--pink-border);
  margin: 5px;
  margin-bottom: 15px;
  height: 200px;
  overflow-y: scroll;
  background-color: var(--yellow);
  color: var(--dark-brown);
}

.homebox h2 {
  margin-bottom: 0px;
  border-bottom: 1px solid var(--pink-border)
}

.homebox hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.non {
  position: absolute;
  cursor: url("../images/pointer.gif"), pointer;
  top: 450px;
  left: 70%;
  z-index: 999;
}

.lopmon {
  cursor: url("../images/pointer.gif"), pointer;
  position: absolute;
  top: 180px; 
  left: 65%;
  z-index: 999;
}

/* about */

.ulnomargin ul, li {
  margin: 0px;
  padding: 0px;
}

.smallimages img {
  height: 100px;
}

button {
  background-color: var(--pink);
  border: 1px solid var(--pink-border);
  color: var(--dark-brown);
  transition: 0.2s;
  position: relative;
  top: 0;
}

button:hover {
  background-color: var(--dark-pink);
  text-shadow: 0px 0px 2px var(--pink-link);
  top: -2px;
  cursor: url("../images/pointer.gif"), pointer;
}

/* art */

ul.photogallery {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.photogallery li {
  display: inline-block;
}

.photogallery img {
  height: 200px;
  border: 1px solid var(--pink-link);
}

.pixelart {
  height: auto !important;
  border: none !important;
}

/* blog */

.blog-info {
  font-style: italic;
  color: var(--pink-link);
  border-bottom: 1px dotted var(--pink-link);
  margin-bottom: 5px;
}

.blog-img {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--brown);
}

@keyframes bg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -300px;
  }
}

@keyframes float {
  0% {
    top: 0px;
  }
  25% {
    top: 3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}