@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Patrick+Hand&display=swap');
@font-face {
    font-family: "nonkiru"; 
    src: url(/assets/website/NonkiruSillyFont-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "sitelen pona pona"; 
    src: url(/assets/website/sitelen-pona-pona.otf) format("opentype");
}
:root {
    --bg: #fff9f6;
    --text: #9A3F3F;
    --pink: #FFD3D4;
    --pink_dark: #e5afaf;
    --pink_darker: #ac2244;
    --purple: #4b313c;
    --yellow: #ffede5;
    --yellow_darker: #ffe3d4;
}
* {
    scrollbar-width: auto;
    scrollbar-color: var(--pink_dark) var(--bg);
}
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: var(--bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--pink_dark);
    border-radius: 10px;
    border: 3px solid var(--bg);
}
::selection {
    background-color: var(--pink);
}
body {
    background-color: var(--yellow);
    background-image: url(/../assets/website/bg.png);
    color: var(--text);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    image-rendering: pixelated;
    cursor: url(/assets/website/cursor.png), auto;
    font-size: 1rem;
    font-weight: 500;
}
h1, h2, h3, h4, h5 {
    font-family: "nonkiru", sans-serif;
    font-weight: bolder;
    margin: 0;
    background-color: var(--yellow_darker);
    border-radius: 5px;
    padding: 0.2rem;
}
h3 {
    background-color: var(--yellow);
}
h1 {
    background-color: transparent;
}
a {
    cursor: url(/assets/website/select.png), pointer;
    color: var(--pink_darker);
    transition: all 0.2s ease-in-out;
}
a:hover {
    background-color: var(--pink_dark);
    color: var(--bg);
}
p {
    margin: 0.063rem;
    margin-bottom: 1rem;
}
hr {
    border: 0.8rem solid transparent;
    border-right: none;
    border-left: none;
    background-image: url(/assets/website/divider2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 35%;
    margin: 0;
}
li {
    text-align: left;
}
nav h2 {
    margin-top: 0.5rem;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    border: 3px solid var(--yellow_darker);
    border-radius: 5px;
    background-color: var(--yellow);
    padding: 3px;
    margin: 5px;
}
nav a {
    transition: all 0.5s ease-in-out;
    color: var(--pink_darker) !important;
    background-color: var(--yellow) !important;
}
nav a li:hover {
    background-color: var(--yellow_darker);
    color: var(--pink_darker);
}

details {
    background-color: var(--yellow_darker);
    padding: 3px;
    border-radius: 5px;
}

summary {
    cursor: url(/assets/website/select.png), pointer;
    background-color: var(--yellow);
    font-size: 0.9rem;
    padding: 3px;
}

.container {
    max-width: 80rem;
    margin: auto;
    margin-top: 2.3rem;

    border: 1px solid #531114;
    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 8px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border.png);
    border-style: solid; 
}
.header {
    background-color: #ffdddd;
    background-image: url(/../assets/website/header.png);
    background-size: 100%;
    background-position: center 35%;
    height: 10rem;
    position: relative;

    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.flex {
    display: flex;
}
.sidebox {
    background-color: var(--bg);
    padding: 1rem;
    text-align: center;
    z-index: 1;

    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.mainbox {
    background-color: var(--bg);
    padding: 1rem;
    flex-grow: 1;

    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.footer {
    background-color: var(--bg);
    padding: 1rem;
    flex-grow: 1;
    font-size: 0.8rem;
    text-align: center;

    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.minibox {
    background-color: var(--yellow);
    overflow-y: scroll;
    height: 8rem;
    padding: 1rem;

    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.pagedoll {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation-iteration-count: infinite; 
    animation-name: floating; 
    animation-duration: 3s;
}
.pagedoll:hover {
    animation-iteration-count: infinite; 
    animation-name: wiggle; 
    animation-duration: .4s; 
}
.pagedoll img {
    width: 200px;
    transition: all .2s ease-in-out;
}
.header img {
    animation-iteration-count: infinite; 
    animation-name: floatingalt; 
    animation-duration: 3s;
}
.a_img {
    background-color: transparent;
}
.a_img:hover {
    background-color: transparent;
}
.linksbox {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: 1rem;
}
.imgborder {
    border-image-slice: 25;
    border-image-width: 25px;
    border-image-outset: 5px;
    border-image-repeat: round;
    border-image-source: url(/../assets/website/border2.png);
    border-style: solid; 
    border-top: none;
}
.imgbutton {
    background-color: transparent;
}
.imgbutton:hover {
    background-color: transparent;
}
.imgbutton img {
    transform: scale(1.0);
    transition: transform .2s;
    background-color: transparent;
}
.imgbutton img:hover {
    transform: scale(1.1);
    background-color: transparent;
}
.imgbutton a:hover {
    background-color: transparent;
}
.imgbutton_small img {
    transform: scale(1.0);
    transition: transform .2s;
}
.imgbutton_small img:hover {
    transform: scale(1.03);
    background-color: transparent;
}
.ocbox {
    display: inline-block;
    background-color: var(--yellow);
    max-width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 800;
    padding: 0.2rem;
    margin: 1rem;
}
.ocbox_image img {
    image-rendering: unset;
    max-width: 120px;
    padding: 0.5rem;
}
.socials img {
    width: 40px;
}
#mobile_nav {
    display: none;
    vertical-align: middle;
}
#navigation_menu img {
    transition: transform .2s;
}
#navigation_menu img:hover {
    transform: scale(1.1);
}
#home-mobilefix {
    width: 50%;
}
#home-mobilefix:first-of-type {
    margin-right: 1rem;
}
#MobileNavToggle {
    display: none;
}
@media (max-width: 1700px) {
    .pagedoll img {
        width: 200px;
    }
}
@media (max-width: 1300px) {
    .pagedoll img {
        width: 100px;
    }
}
@media (max-width: 800px) {
    .container {
        margin-top: 0rem;
    }
    .flex {
        display: inline;
    }
    .header img {
        width: 45%;
    }
    .mainbox {
        height: unset;
    }
    .sidebox {
        position: sticky;
        top: 0;
    }
    #mobile_nav {
        display: block;
    }
    #navigation_menu {
        display: none;
    }
    #me {
        display: none;
    }
    .pagedoll {
        display: none;
    }
    #home-mobilefix {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }
    #MobileNav {
        display: none;
    }
    .minibox {
        margin: auto;
        max-width: 250px;
    }
    #MobileNavToggle {
        display: block;
    }
}
@keyframes floating { 
    50% { transform: translateY(-5px); } 
}
@keyframes floatingalt {
    0% { transform: translateY(-5px); } 
    50% { transform: translateY(0px); } 
    100% { transform: translateY(-5px); } 
}
@keyframes wiggle {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(2deg); }
    50% { transform: rotateZ(0deg); }
    75% { transform: rotateZ(-2deg); }
    100% { transform: rotateZ(0deg); }
}
/* Comment Widget */
/* A lot of this code was taken from virtualobserver's base code. */

/* Main */
#c_widget {
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 0.5rem;
    text-decoration: none;
	text-align: center;
    background-color: var(--yellow_darker);
    color: var(--text);
    border: var(--yellow) 1px solid;
    border-radius: 0.313rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    background-color: var(--bg);
    color: var(--text);
    border: var(--yellow_darker) 1px solid;
    cursor: url(/assets/website/select.png), pointer;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    background-color: var(--yellow_darker);
    color: var(--text);
    border: var(--yellow_darker) 1px solid;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Input section */
.c-inputWrapper {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.c-input {
    padding: 0.4rem;
    color: var(--text);
    border-radius: 0.2rem;
    border: var(--yellow_darker) 1px solid;
	outline: none;
    background-color: var(--yellow);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.c-input:focus {
    border: var(--yellow_darker) 1px solid;
    background-color: var(--yellow_darker);
}

.c-textInput {
    width: calc(100% - 1rem);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
    display: block;
}
#c_replyingText {
    color: var(--font);
}

/* Comment section */
.c-comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--yellow);
    border: var(--yellow) 1px solid;
    border-radius: 0.2rem;
    text-transform: initial;
}
.c-reply {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--yellow_darker);
    border: var(--yellow_darker) 1px solid;
    border-radius: 0.2rem;
}
.c-reply:last-child {
    margin-bottom: 0;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
}
.c-site {
    color: var(--pink_darker);
}

.c-timestamp {
    float: right;
    opacity: 60%;
}
.c-text {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    color: var(--text);
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {margin-top: 1rem;}
.c-expandButton {
    float: right;
    margin-top: 1rem;
}
.c-paginationButton {
    margin-right: 0.5rem;
    margin-left:  0.5rem;
}