@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Patrick+Hand&display=swap');

:root {
    --sky: url(../img/sky_bg_small.webp);
    --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.063rem solid #dfa097;
    --mainbg_outline: 0.063rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header_small.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.063rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.063rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet_small.webp);
    --cursor: url(../img/cursor_small.webp), auto;
    --pointer: url(../img/pointer_small.webp), auto;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace_small.webp");
    --lace2: url("../img/lace2_small.webp");
    --home: url(../img/home.webp);
    --aboutsite: url(../img/aboutsite.webp);
    --sitecredit: url(../img/sitecredit.webp);
    --sitelayouts: url(../img/sitelayouts.webp);
    --guestbook: url(../img/guestbook.webp);
    --about: url(../img/about.webp);
    --art: url(../img/art.webp);
    --blog: url(../img/blog.webp);
    --microblog: url(../img/microblog.webp);
    --ffxiv: url(../img/ffxiv.webp);
    --link: url(../img/link.webp);
    --oc: url(../img/oc.webp);
}

:root[data-theme="light"] {
    --sky: url(../img/sky_bg_small.webp);
    --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.063rem solid #dfa097;
    --mainbg_outline: 0.063rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header_small.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.063rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.063rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet_small.webp);
    --cursor: url(../img/cursor_small.webp), auto;
    --pointer: url(../img/pointer_small.webp), pointer;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace_small.webp");
    --lace2: url("../img/lace2_small.webp");
    --home: url(../img/home.webp);
    --aboutsite: url(../img/aboutsite.webp);
    --sitecredit: url(../img/sitecredit.webp);
    --sitelayouts: url(../img/sitelayouts.webp);
    --guestbook: url(../img/guestbook.webp);
    --about: url(../img/about.webp);
    --art: url(../img/art.webp);
    --blog: url(../img/blog.webp);
    --microblog: url(../img/microblog.webp);
    --ffxiv: url(../img/ffxiv.webp);
    --link: url(../img/link.webp);
    --oc: url(../img/oc.webp);
}

:root[data-theme="dark"] {
    --sky: url(../img/sky_bg_dark_small.webp);
    --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
    --mainbg: rgba(58, 53, 63, 0.90);
    --mainbg_border: 0.063rem solid #302b30;
    --mainbg_outline: 0.063rem dotted #4f464f;
    --font: #fffcfa;
    --links: #f79b9b;
    --selection: #ffd7d752;
    --header: url(../img/header_dark_small.webp);
    --h1: url(../img/pattern_01_dark.webp);
    --h1_border: 0.063rem solid #302b30;
    --h2: url(../img/pattern_02_dark.webp);
    --h2_border: 0.063rem solid #302b30;
    --update: #443b45;
    --scrollbar: #302b30 #4f464f;
    --skycolour: #564b55;
    --ul: url(../img/bullet_dark_small.webp);
    --cursor: url(../img/cursor_dark_small.webp), auto;
    --pointer: url(../img/pointer_dark_small.webp), pointer;
    --button:#554c55;
    --buttonhover: #302b30;
    --lace: url("../img/lace_dark_small.webp");
    --lace2: url("../img/lace2_dark_small.webp");
    --home: url(../img/home_dark.webp);
    --aboutsite: url(../img/aboutsite_dark.webp);
    --sitecredit: url(../img/sitecredit_dark.webp);
    --sitelayouts: url(../img/sitelayouts_dark.webp);
    --guestbook: url(../img/guestbook_dark.webp);
    --about: url(../img/about_dark.webp);
    --art: url(../img/art_dark.webp);
    --blog: url(../img/blog_dark.webp);
    --microblog: url(../img/microblog_dark.webp);
    --ffxiv: url(../img/ffxiv_dark.webp);
    --link: url(../img/link_dark.webp);
    --oc: url(../img/oc_dark.webp);
}

::selection {
    background: var(--selection);
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #f79b9b;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

* {
    image-rendering: pixelated;
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar);
    transition: 0.2s;
    cursor: var(--cursor);
}

body {
    background-color: var(--skycolour);
    background-image: var(--sky);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-attachment: fixed;
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.9rem;
}

a {
    color: var(--links);
    cursor: var(--pointer);
}

a:hover {
    color: var(--font);
    background: var(--selection);
}

a img:hover {
    cursor: var(--pointer);
}

button {
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    background: var(--update);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 0.9rem;
}

button:hover, button:focus {
    background-image: var(--h1);
    border: var(--h1_border);
}

details > summary {
    cursor: var(--pointer);
    background: var(--update);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
}

details:hover > summary:hover {
    background-image: var(--h1);
    border: var(--h1_border);
}

.fakebutton {
    display: inline-block;
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    margin-bottom: 0.3rem;
    background: var(--update);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    text-decoration: none;
}

.fakebutton:hover {
    background-image: var(--h1);
    border: var(--h1_border);
}

ul {
    list-style-image: var(--ul);
}

ul a:hover {
    letter-spacing: 0.05rem;
    margin-left: 0.2rem;
}

li#home {
    list-style-image: var(--home);
}

li#aboutsite {
    list-style-image: var(--aboutsite);
}

li#sitecredit {
    list-style-image: var(--sitecredit);
}

li#sitelayouts {
    list-style-image: var(--sitelayouts);
}

li#guestbook {
    list-style-image: var(--guestbook);
}

li#about {
    list-style-image: var(--about);
}

li#art {
    list-style-image: var(--art);
}

li#blog {
    list-style-image: var(--blog);
}

li#microblog {
    list-style-image: var(--microblog);
}

li#ffxiv {
    list-style-image: var(--ffxiv);
}

li#link {
    list-style-image: var(--link);
}

li#oc {
    list-style-image: var(--oc);
}

h1 {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h1);
    border: var(--h1_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h2);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}

h3 {
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-family: 'Patrick Hand', cursive;
    padding: 0.3rem;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    font-size: 0.75rem;
}

hr {
    border-top: var(--mainbg_border);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

label {
    font-size: 0.9rem;
}

textarea {
    background: var(--update);
    outline: 0 solid transparent;
    border: var(--mainbg_outline);
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.8rem;
    max-width: 90%;
}

p {
    margin: 0.3rem;
}

.container {
    max-width: 68rem;
    margin: auto;
    margin-top: 1.563rem;
    margin-bottom: 1.563rem;
    height: 100%;
    border-image-slice: 14 14 14 14;
    border-image-width: 14px 14px 14px 14px;
    border-image-outset: 14px 14px 14px 14px;
    border-image-repeat: round round;
    border-style: solid; 
    border-image-source: var(--lace);
    background: var(--mainbg);
}

.flex {
    display: flex;
}

.box_header {
    background: var(--header);
    background-position: center;
    border: var(--mainbg_border);
    outline: var(--mainbg_outline);
    border-radius: 0.225rem;
    box-shadow: 0 0 0.313rem rgba(223, 161, 151, 0.05);
    margin: 0.063rem;
    padding: 0.125rem;
    height: 8rem;
    /*
    Old code
    border-image-slice: 28 28 28 28;
    border-image-width: 28px 28px 28px 28px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: round round;
    border-image-source: var(--lace);
    border-style: solid; 
    */
}

.box {
    background: var(--mainbg);
    border: var(--mainbg_border);
    outline: var(--mainbg_outline);
    border-radius: 0.225rem;
    box-shadow: 0 0 0.313rem rgba(223, 161, 151, 0.05);
    margin: 0.063rem;
    padding: 0.125rem;
    /*
    Old code
    border-image-slice: 28 28 28 28;
    border-image-width: 28px 28px 28px 28px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: round round;
    border-image-source: var(--lace);
    border-style: solid; 
    */
}

.update_box {
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.225rem;
    margin: 0.625rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 10rem;
}

.update_box hr {
    border-top: var(--mainbg_outline);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.statuscafe {
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.225rem;
    margin: 0.625rem;
    padding: 1rem;
}

.statuscafe hr {
    border-top: var(--mainbg_outline);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.webrings table {
    margin: auto;
}

.ocbox {
    display: inline-block;
    border: var(--h1_border);
    background-image: var(--h1);
    max-width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 800;
    padding: 0.2rem;
    margin: 0.1rem;
}

.ocbox_image img {
    border-radius: 0.5rem;
    border: var(--h2_border);
    image-rendering: unset;
    width: 100%;
}

/* This cloud code is heavily referenced from the Wizard101 website... */
.clouds {
    background: var(--clouds);
    height: 6.375rem;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: -100;
    animation: clouds 200s linear infinite;
}

/* Edited from ThaBouncingJelly from this comment section https://www.reddit.com/r/neocities/comments/111uwkq/how_can_i_add_a_pagedoll_to_a_webpage/ */
#pagedoll {
    position: fixed;
    bottom: 1rem;
    right: 0rem;
    animation: pagedoll 1s linear infinite;
    width: 122px;
    height: 185px;
}

#pagedoll2 {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    animation: pagedoll 1s linear infinite;
    width: 244px;
    height: 370px;
}

/* John Shang via Stack Overflow. */
@keyframes clouds {
    0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}

@keyframes pagedoll {
    0%{bottom: 0rem;}
    50%{bottom: 0.2rem;}
    100%{bottom: 0rem;}
}

/* Comment Widget */
/* A lot of this code was taken from virtualobserver's base code. */

/* Main */
#c_widget {
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 0.5rem;
    text-decoration: none;
	text-align: center;
    background-color: var(--button);
    color: var(--font);
    border: var(--mainbg_border);
    border-radius: 0.313rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    background-color: var(--buttonhover);
    color: var(--font);
    border: var(--mainbg_border);
    cursor: var(--pointer);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    background-color: var(--buttonhover);
    color: var(--font);
    border: var(--mainbg_border);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Input section */
.c-inputWrapper {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.c-input {
    padding: 0.4rem;
    color: var(--font);
    border-radius: 0.2rem;
    border: var(--mainbg_outline);
	outline: none;
    background-color: var(--update);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.c-input:focus {
    border: var(--mainbg_border);
}

.c-textInput {
    width: calc(100% - 1rem);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
    display: block;
}
#c_replyingText {
    color: var(--font);
}

/* Comment section */
.c-comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.2rem;
}
.c-reply {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.2rem;
}
.c-reply:last-child {
    margin-bottom: 0;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
}
.c-site {
    color: var(--links);
}

.c-timestamp {
    float: right;
    opacity: 60%;
}
.c-text {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    color: var(--font);
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {margin-top: 1rem;}
.c-expandButton {
    float: right;
    margin-top: 1rem;
}
.c-paginationButton {
    margin-right: 0.5rem;
    margin-left:  0.5rem;
}


/* Dark mode via https://derekkedziora.com/blog/dark-mode-revisited */
@media (prefers-color-scheme: dark) {
    :root {
        --sky: url(../img/sky_bg_dark_small.webp);
        --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.063rem solid #302b30;
        --mainbg_outline: 0.063rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark_small.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.063rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.063rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark_small.webp);
        --cursor: url(../img/cursor_dark_small.webp), auto;
        --pointer: url(../img/pointer_dark_small.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark_small.webp");
        --lace2: url("../img/lace2_dark_small.webp");
        --home: url(../img/home_dark.webp);
        --aboutsite: url(../img/aboutsite_dark.webp);
        --sitecredit: url(../img/sitecredit_dark.webp);
        --sitelayouts: url(../img/sitelayouts_dark.webp);
        --guestbook: url(../img/guestbook_dark.webp);
        --about: url(../img/about_dark.webp);
        --art: url(../img/art_dark.webp);
        --blog: url(../img/blog_dark.webp);
        --microblog: url(../img/microblog_dark.webp);
        --ffxiv: url(../img/ffxiv_dark.webp);
        --link: url(../img/link_dark.webp);
        --oc: url(../img/oc_dark.webp);
    }
	:root[data-theme="dark"] {
        --sky: url(../img/sky_bg_dark_small.webp);
        --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.063rem solid #302b30;
        --mainbg_outline: 0.063rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark_small.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.063rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.063rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark_small.webp);
        --cursor: url(../img/cursor_dark_small.webp), auto;
        --pointer: url(../img/pointer_dark_small.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark_small.webp");
        --lace2: url("../img/lace2_dark_small.webp");
        --home: url(../img/home_dark.webp);
        --aboutsite: url(../img/aboutsite_dark.webp);
        --sitecredit: url(../img/sitecredit_dark.webp);
        --sitelayouts: url(../img/sitelayouts_dark.webp);
        --guestbook: url(../img/guestbook_dark.webp);
        --about: url(../img/about_dark.webp);
        --art: url(../img/art_dark.webp);
        --blog: url(../img/blog_dark.webp);
        --microblog: url(../img/microblog_dark.webp);
        --ffxiv: url(../img/ffxiv_dark.webp);
        --link: url(../img/link_dark.webp);
        --oc: url(../img/oc_dark.webp);
	}

    :root[data-theme="light"] {
        --sky: url(../img/sky_bg_small.webp);
        --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
        --mainbg: rgba(255, 252, 250, 0.90);
        --mainbg_border: 0.063rem solid #dfa097;
        --mainbg_outline: 0.063rem dotted #ffdad1;
        --font: #6a5353;
        --links: #4171B9;
        --selection: #ffb2a44f;
        --header: url(../img/header_small.webp);
        --h1: url(../img/pattern_01.webp);
        --h1_border: 0.063rem solid #eba894;
        --h2: url(../img/pattern_02.webp);
        --h2_border: 0.063rem solid #f8ccbf;
        --update: #fff6f4;
        --scrollbar: #dfa097 #ffffff;
        --skycolour: #fff0e8;
        --ul: url(../img/bullet_small.webp);
        --cursor: url(../img/cursor_small.webp), auto;
        --pointer: url(../img/pointer_small.webp), pointer;
        --button:#ffebe4;
        --buttonhover: #f8ccbf;
        --lace: url("../img/lace_small.webp");
        --lace2: url("../img/lace2_small.webp");
        --home: url(../img/home.webp);
        --aboutsite: url(../img/aboutsite.webp);
        --sitecredit: url(../img/sitecredit.webp);
        --sitelayouts: url(../img/sitelayouts.webp);
        --guestbook: url(../img/guestbook.webp);
        --about: url(../img/about.webp);
        --art: url(../img/art.webp);
        --blog: url(../img/blog.webp);
        --microblog: url(../img/microblog.webp);
        --ffxiv: url(../img/ffxiv.webp);
        --link: url(../img/link.webp);
        --oc: url(../img/oc.webp);
	}
}

@media (max-width: 800px) {
    .container {
        margin: 1rem;
    }
    .flex {
        display: inline;
    }
    #nav {
        width: unset !important;
    }
    #stats {
        width: unset !important;
    }
    #pagedoll {
        display: none;
    }
    #pagedoll2 {
        display: none;
    }
    #minibox {
        max-width: unset !important;
    }
    #minibox2 {
        max-width: unset !important;
    }
    #mobilepixelfix {
        margin: 1rem !important;
    }
    #mobilepixelfix2 {
        display: none;
    }
    .box_header {
        height: 5rem;
        background-size: cover;
    }
    .box {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
  }

  @media (prefers-reduced-motion) {
    #pagedoll {
        display: none;
    }
    .clouds {
        animation-play-state: paused;
    }
  }