@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Patrick+Hand&display=swap');

:root {
    --sky: url(../img/sky_bg_small.webp);
    --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.063rem solid #dfa097;
    --mainbg_outline: 0.063rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header_small.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.063rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.063rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet_small.webp);
    --cursor: url(../img/cursor_small.webp), auto;
    --pointer: url(../img/pointer_small.webp), auto;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace_small.webp");
    --lace2: url("../img/lace2_small.webp");
    --home: url(../img/home.webp);
    --aboutsite: url(../img/aboutsite.webp);
    --sitecredit: url(../img/sitecredit.webp);
    --sitelayouts: url(../img/sitelayouts.webp);
    --guestbook: url(../img/guestbook.webp);
    --about: url(../img/about.webp);
    --art: url(../img/art.webp);
    --blog: url(../img/blog.webp);
    --microblog: url(../img/microblog.webp);
    --ffxiv: url(../img/ffxiv.webp);
    --link: url(../img/link.webp);
    --oc: url(../img/oc.webp);
}

:root[data-theme="light"] {
    --sky: url(../img/sky_bg_small.webp);
    --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.063rem solid #dfa097;
    --mainbg_outline: 0.063rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header_small.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.063rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.063rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet_small.webp);
    --cursor: url(../img/cursor_small.webp), auto;
    --pointer: url(../img/pointer_small.webp), pointer;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace_small.webp");
    --lace2: url("../img/lace2_small.webp");
    --home: url(../img/home.webp);
    --aboutsite: url(../img/aboutsite.webp);
    --sitecredit: url(../img/sitecredit.webp);
    --sitelayouts: url(../img/sitelayouts.webp);
    --guestbook: url(../img/guestbook.webp);
    --about: url(../img/about.webp);
    --art: url(../img/art.webp);
    --blog: url(../img/blog.webp);
    --microblog: url(../img/microblog.webp);
    --ffxiv: url(../img/ffxiv.webp);
    --link: url(../img/link.webp);
    --oc: url(../img/oc.webp);
}

:root[data-theme="dark"] {
    --sky: url(../img/sky_bg_dark_small.webp);
    --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
    --mainbg: rgba(58, 53, 63, 0.90);
    --mainbg_border: 0.063rem solid #302b30;
    --mainbg_outline: 0.063rem dotted #4f464f;
    --font: #fffcfa;
    --links: #f79b9b;
    --selection: #ffd7d752;
    --header: url(../img/header_dark_small.webp);
    --h1: url(../img/pattern_01_dark.webp);
    --h1_border: 0.063rem solid #302b30;
    --h2: url(../img/pattern_02_dark.webp);
    --h2_border: 0.063rem solid #302b30;
    --update: #443b45;
    --scrollbar: #302b30 #4f464f;
    --skycolour: #564b55;
    --ul: url(../img/bullet_dark_small.webp);
    --cursor: url(../img/cursor_dark_small.webp), auto;
    --pointer: url(../img/pointer_dark_small.webp), pointer;
    --button:#554c55;
    --buttonhover: #302b30;
    --lace: url("../img/lace_dark_small.webp");
    --lace2: url("../img/lace2_dark_small.webp");
    --home: url(../img/home_dark.webp);
    --aboutsite: url(../img/aboutsite_dark.webp);
    --sitecredit: url(../img/sitecredit_dark.webp);
    --sitelayouts: url(../img/sitelayouts_dark.webp);
    --guestbook: url(../img/guestbook_dark.webp);
    --about: url(../img/about_dark.webp);
    --art: url(../img/art_dark.webp);
    --blog: url(../img/blog_dark.webp);
    --microblog: url(../img/microblog_dark.webp);
    --ffxiv: url(../img/ffxiv_dark.webp);
    --link: url(../img/link_dark.webp);
    --oc: url(../img/oc_dark.webp);
}

::selection {
    background: var(--selection);
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #f79b9b;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

* {
    image-rendering: pixelated;
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar);
    cursor: var(--cursor);
}

body {
    background-color: var(--skycolour);
    background-image: var(--sky);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-attachment: fixed;
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

a {
    color: var(--links);
    cursor: var(--pointer);
}

.gallery a {
    text-decoration: none;
}

a:hover {
    color: var(--font);
    background: var(--selection);
}

a img:hover {
    cursor: var(--pointer);
}

img {
    image-rendering: auto;
    max-width: 27rem;
    height: auto;
}

h1 {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h1);
    border: var(--h1_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h2);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}

.container {
    text-align: center;
    background: var(--mainbg);
    border: var(--mainbg_border);
    outline: var(--mainbg_outline);
    border-radius: 0.225rem;
    box-shadow: 0 0 0.313rem rgba(223, 161, 151, 0.05);
    margin: 1.5rem;
    padding: 1rem;
    height: 100%;
    border-image-slice: 14 14 14 14;
    border-image-width: 14px 14px 14px 14px;
    border-image-outset: 14px 14px 14px 14px;
    border-image-repeat: round round;
    border-style: solid; 
    border-image-source: var(--lace);
}

hr {
    border-top: var(--mainbg_border);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* Dark mode via https://derekkedziora.com/blog/dark-mode-revisited */
@media (prefers-color-scheme: dark) {
    :root {
        --sky: url(../img/sky_bg_dark_small.webp);
        --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.063rem solid #302b30;
        --mainbg_outline: 0.063rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark_small.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.063rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.063rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark_small.webp);
        --cursor: url(../img/cursor_dark_small.webp), auto;
        --pointer: url(../img/pointer_dark_small.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark_small.webp");
        --lace2: url("../img/lace2_dark_small.webp");
        --home: url(../img/home_dark.webp);
        --aboutsite: url(../img/aboutsite_dark.webp);
        --sitecredit: url(../img/sitecredit_dark.webp);
        --sitelayouts: url(../img/sitelayouts_dark.webp);
        --guestbook: url(../img/guestbook_dark.webp);
        --about: url(../img/about_dark.webp);
        --art: url(../img/art_dark.webp);
        --blog: url(../img/blog_dark.webp);
        --microblog: url(../img/microblog_dark.webp);
        --ffxiv: url(../img/ffxiv_dark.webp);
        --link: url(../img/link_dark.webp);
        --oc: url(../img/oc_dark.webp);
    }
	:root[data-theme="dark"] {
        --sky: url(../img/sky_bg_dark_small.webp);
        --clouds: transparent url(../img/clouds_dark_small.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.063rem solid #302b30;
        --mainbg_outline: 0.063rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark_small.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.063rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.063rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark_small.webp);
        --cursor: url(../img/cursor_dark_small.webp), auto;
        --pointer: url(../img/pointer_dark_small.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark_small.webp");
        --lace2: url("../img/lace2_dark_small.webp");
        --home: url(../img/home_dark.webp);
        --aboutsite: url(../img/aboutsite_dark.webp);
        --sitecredit: url(../img/sitecredit_dark.webp);
        --sitelayouts: url(../img/sitelayouts_dark.webp);
        --guestbook: url(../img/guestbook_dark.webp);
        --about: url(../img/about_dark.webp);
        --art: url(../img/art_dark.webp);
        --blog: url(../img/blog_dark.webp);
        --microblog: url(../img/microblog_dark.webp);
        --ffxiv: url(../img/ffxiv_dark.webp);
        --link: url(../img/link_dark.webp);
        --oc: url(../img/oc_dark.webp);
	}

    :root[data-theme="light"] {
        --sky: url(../img/sky_bg_small.webp);
        --clouds: transparent url(../img/clouds_small.webp) repeat-x left top;
        --mainbg: rgba(255, 252, 250, 0.90);
        --mainbg_border: 0.063rem solid #dfa097;
        --mainbg_outline: 0.063rem dotted #ffdad1;
        --font: #6a5353;
        --links: #4171B9;
        --selection: #ffb2a44f;
        --header: url(../img/header_small.webp);
        --h1: url(../img/pattern_01.webp);
        --h1_border: 0.063rem solid #eba894;
        --h2: url(../img/pattern_02.webp);
        --h2_border: 0.063rem solid #f8ccbf;
        --update: #fff6f4;
        --scrollbar: #dfa097 #ffffff;
        --skycolour: #fff0e8;
        --ul: url(../img/bullet_small.webp);
        --cursor: url(../img/cursor_small.webp), auto;
        --pointer: url(../img/pointer_small.webp), pointer;
        --button:#ffebe4;
        --buttonhover: #f8ccbf;
        --lace: url("../img/lace_small.webp");
        --lace2: url("../img/lace2_small.webp");
        --home: url(../img/home.webp);
        --aboutsite: url(../img/aboutsite.webp);
        --sitecredit: url(../img/sitecredit.webp);
        --sitelayouts: url(../img/sitelayouts.webp);
        --guestbook: url(../img/guestbook.webp);
        --about: url(../img/about.webp);
        --art: url(../img/art.webp);
        --blog: url(../img/blog.webp);
        --microblog: url(../img/microblog.webp);
        --ffxiv: url(../img/ffxiv.webp);
        --link: url(../img/link.webp);
        --oc: url(../img/oc.webp);
	}
}

@media (max-width: 800px) {
    img {
        max-width: 100%;
    }
  }