@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Patrick+Hand&display=swap');

:root {
    --sky: url(../img/sky_bg.webp);
    --clouds: transparent url(../img/clouds.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.125rem solid #dfa097;
    --mainbg_outline: 0.125rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.125rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.125rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet.webp);
    --cursor: url(../img/cursor.webp), auto;
    --pointer: url(../img/pointer.webp), auto;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace.webp");
}

:root[data-theme="light"] {
    --sky: url(../img/sky_bg.webp);
    --clouds: transparent url(../img/clouds.webp) repeat-x left top;
    --mainbg: rgba(255, 252, 250, 0.90);
    --mainbg_border: 0.125rem solid #dfa097;
    --mainbg_outline: 0.125rem dotted #ffdad1;
    --font: #6a5353;
    --links: #4171B9;
    --selection: #ffb2a44f;
    --header: url(../img/header.webp);
    --h1: url(../img/pattern_01.webp);
    --h1_border: 0.125rem solid #eba894;
    --h2: url(../img/pattern_02.webp);
    --h2_border: 0.125rem solid #f8ccbf;
    --update: #fff6f4;
    --scrollbar: #dfa097 #ffffff;
    --skycolour: #fff0e8;
    --ul: url(../img/bullet.webp);
    --cursor: url(../img/cursor.webp), auto;
    --pointer: url(../img/pointer.webp), pointer;
    --button:#ffebe4;
    --buttonhover: #f8ccbf;
    --lace: url("../img/lace.webp");
}

:root[data-theme="dark"] {
    --sky: url(../img/sky_bg_dark.webp);
    --clouds: transparent url(../img/clouds_dark.webp) repeat-x left top;
    --mainbg: rgba(58, 53, 63, 0.90);
    --mainbg_border: 0.125rem solid #302b30;
    --mainbg_outline: 0.125rem dotted #4f464f;
    --font: #fffcfa;
    --links: #f79b9b;
    --selection: #ffd7d752;
    --header: url(../img/header_dark.webp);
    --h1: url(../img/pattern_01_dark.webp);
    --h1_border: 0.125rem solid #302b30;
    --h2: url(../img/pattern_02_dark.webp);
    --h2_border: 0.125rem solid #302b30;
    --update: #443b45;
    --scrollbar: #302b30 #4f464f;
    --skycolour: #564b55;
    --ul: url(../img/bullet_dark.webp);
    --cursor: url(../img/cursor_dark.webp), auto;
    --pointer: url(../img/pointer_dark.webp), pointer;
    --button:#554c55;
    --buttonhover: #302b30;
    --lace: url("../img/lace_dark.webp");
}

::selection {
    background: var(--selection);
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #f79b9b;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

* {
    image-rendering: pixelated;
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar);
    transition: 0.2s;
    cursor: var(--cursor);
}

body {
    background-color: var(--skycolour);
    background-image: var(--sky);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-attachment: fixed;
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

a {
    color: var(--links);
    cursor: var(--pointer);
}

a:hover {
    color: var(--font);
    background: var(--selection);
}

a img:hover {
    cursor: var(--pointer);
}

ul {
    list-style-image: var(--ul);
}

ul a:hover {
    letter-spacing: 0.05rem;
}

h1 {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h1);
    border: var(--h1_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-family: 'Patrick Hand', cursive;
    background-image: var(--h2);
    border: var(--h2_border);
    border-radius: 0.225rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}

footer {
    text-align: center;
    font-size: 0.9rem;
}

hr {
    border-top: var(--mainbg_border);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

label {
    font-size: 0.9rem;
}

textarea {
    background: var(--update);
    outline: 0 solid transparent;
    border: var(--mainbg_outline);
    color: var(--font);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.container {
    max-width: 62rem;
    margin: auto;
    margin-top: 1.563rem;
}

.flex {
    display: flex;
}

.box_header {
    background: var(--header);
    background-position: center;
    border: var(--mainbg_border);
    outline: var(--mainbg_outline);
    border-radius: 0.225rem;
    box-shadow: 0 0 0.313rem rgba(223, 161, 151, 0.05);
    margin: 1.5rem;
    padding: 1rem;
    height: 8rem;
    border-image-slice: 28 28 28 28;
    border-image-width: 28px 28px 28px 28px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: round round;
    border-image-source: var(--lace);
    border-style: solid; 
}

.box {
    background: var(--mainbg);
    border: var(--mainbg_border);
    outline: var(--mainbg_outline);
    border-radius: 0.225rem;
    box-shadow: 0 0 0.313rem rgba(223, 161, 151, 0.05);
    margin: 1.5rem;
    padding: 1rem;
    height: 100%;
    border-image-slice: 28 28 28 28;
    border-image-width: 28px 28px 28px 28px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: round round;
    border-image-source: var(--lace);
    border-style: solid; 
}

.update_box {
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.225rem;
    margin: 0.625rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 10rem;
}

.update_box hr {
    border-top: var(--mainbg_outline);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.statuscafe {
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.225rem;
    margin: 0.625rem;
    padding: 1rem;
}

.statuscafe hr {
    border-top: var(--mainbg_outline);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* This cloud code is heavily referenced from the Wizard101 website... */
.clouds {
    background: var(--clouds);
    height: 6.375rem;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: -100;
    animation: clouds 200s linear infinite;
}

/* Edited from ThaBouncingJelly from this comment section https://www.reddit.com/r/neocities/comments/111uwkq/how_can_i_add_a_pagedoll_to_a_webpage/ */
#pagedoll {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation: pagedoll 1s linear infinite;
}

/* John Shang via Stack Overflow. */
@keyframes clouds {
    0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}

@keyframes pagedoll {
    0%{bottom: 2rem;}
    50%{bottom: 2.2rem;}
    100%{bottom: 2rem;}
}

/* Comment Widget */
/* A lot of this code was taken from virtualobserver's base code. */

/* Main */
#c_widget {
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 0.5rem;
    text-decoration: none;
	text-align: center;
    background-color: var(--button);
    color: var(--font);
    border: var(--mainbg_border);
    border-radius: 0.313rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    background-color: var(--buttonhover);
    color: var(--font);
    border: var(--mainbg_border);
    cursor: var(--pointer);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    background-color: var(--buttonhover);
    color: var(--font);
    border: var(--mainbg_border);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Input section */
.c-inputWrapper {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.c-input {
    padding: 0.4rem;
    color: var(--font);
    border-radius: 0.2rem;
    border: var(--mainbg_outline);
	outline: none;
    background-color: var(--update);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.c-input:focus {
    border: var(--mainbg_border);
}

.c-textInput {
    width: calc(100% - 1rem);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
    display: block;
}
#c_replyingText {
    color: var(--font);
}

/* Comment section */
.c-comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.2rem;
}
.c-reply {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--update);
    border: var(--mainbg_outline);
    border-radius: 0.2rem;
}
.c-reply:last-child {
    margin-bottom: 0;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
}
.c-site {
    color: var(--links);
}

.c-timestamp {
    float: right;
    opacity: 60%;
}
.c-text {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    color: var(--font);
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {margin-top: 1rem;}
.c-expandButton {
    float: right;
    margin-top: 1rem;
}
.c-paginationButton {
    margin-right: 0.5rem;
    margin-left:  0.5rem;
}


/* Dark mode via https://derekkedziora.com/blog/dark-mode-revisited */
@media (prefers-color-scheme: dark) {
    :root {
        --sky: url(../img/sky_bg_dark.webp);
        --clouds: transparent url(../img/clouds_dark.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.125rem solid #302b30;
        --mainbg_outline: 0.125rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.125rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.125rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark.webp);
        --cursor: url(../img/cursor_dark.webp), auto;
        --pointer: url(../img/pointer_dark.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark.webp");
    }
	:root[data-theme="dark"] {
        --sky: url(../img/sky_bg_dark.webp);
        --clouds: transparent url(../img/clouds_dark.webp) repeat-x left top;
        --mainbg: rgba(58, 53, 63, 0.90);
        --mainbg_border: 0.125rem solid #302b30;
        --mainbg_outline: 0.125rem dotted #4f464f;
        --font: #fffcfa;
        --links: #f79b9b;
        --selection: #ffd7d752;
        --header: url(../img/header_dark.webp);
        --h1: url(../img/pattern_01_dark.webp);
        --h1_border: 0.125rem solid #302b30;
        --h2: url(../img/pattern_02_dark.webp);
        --h2_border: 0.125rem solid #302b30;
        --update: #443b45;
        --scrollbar: #302b30 #4f464f;
        --skycolour: #564b55;
        --ul: url(../img/bullet_dark.webp);
        --cursor: url(../img/cursor_dark.webp), auto;
        --pointer: url(../img/pointer_dark.webp), pointer;
        --button:#554c55;
        --buttonhover: #302b30;
        --lace: url("../img/lace_dark.webp");
	}

    :root[data-theme="light"] {
        --sky: url(../img/sky_bg.webp);
        --clouds: transparent url(../img/clouds.webp) repeat-x left top;
        --mainbg: rgba(255, 252, 250, 0.90);
        --mainbg_border: 0.125rem solid #dfa097;
        --mainbg_outline: 0.125rem dotted #ffdad1;
        --font: #6a5353;
        --links: #4171B9;
        --selection: #ffb2a44f;
        --header: url(../img/header.webp);
        --h1: url(../img/pattern_01.webp);
        --h1_border: 0.125rem solid #eba894;
        --h2: url(../img/pattern_02.webp);
        --h2_border: 0.125rem solid #f8ccbf;
        --update: #fff6f4;
        --scrollbar: #dfa097 #ffffff;
        --skycolour: #fff0e8;
        --ul: url(../img/bullet.webp);
        --cursor: url(../img/cursor.webp), auto;
        --pointer: url(../img/pointer.webp), pointer;
        --button:#ffebe4;
        --buttonhover: #f8ccbf;
        --lace: url("../img/lace.webp");
	}
}

@media (max-width: 800px) {
    .flex {
        display: inline;
    }
    #nav {
        width: unset !important;
    }
    #stats {
        width: unset !important;
    }
    #pagedoll {
        display: none;
    }
    #minibox {
        max-width: unset !important;
    }
    #minibox2 {
        max-width: unset !important;
    }
    .box_header {
        height: 5rem;
        background-size: cover;
    }
    .box {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
  }

  @media (prefers-reduced-motion) {
    #pagedoll {
        display: none;
    }
    .clouds {
        display: none;
    }
  }