@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: cherrybomb;
    src: url(/stuff/Cherrybomb.ttf);
}

* {
    cursor: url(/stuff/cursor.gif), default;
}

::selection {
    background-color: #ffede6;
    text-shadow: 0px 0px 2px #dd9e9e;
}

body {
    background-color: white;
    background-image: url(/stuff/patchwork.gif);
    color: #c48f56;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

h1, h2, h3 {
    margin: 0px;
    font-size: 12px;
    font-family: cherrybomb, sans-serif;
    padding: 2px;
    letter-spacing: 1px;
    font-weight: bolder;
}

hr {
    border-top: 1px dashed #f4d3ae;
    border-bottom: none;
}

a {
    color: #b3b75d;
    cursor: url(/stuff/pointer.gif), pointer;
}

.book {
    background-image: url(/stuff/book.gif);
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.flex {
    display: flex;
    padding: 20px;
}

.left-page {
    width: 282px;
    height: 332px;
    margin-right: 20px;
    padding: 4px;
}

.right-page {
    width: 282px;
    padding: 4px;
}

.update-box {
    background-color: #ffede6;
    border: 1px solid #f4d3ae;
    height: 98px;
    overflow-y: scroll;
    padding: 5px;
}

.update-box h2 {
    background-color: #ffded2;
    border-bottom: 1px dashed #f4d3ae;
}

.clover {
    background-image: url(/stuff/clover.gif);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
    left: -30px;
    right: 0px;
    top: -140px;
    bottom: 0px;
    z-index: 100;
}

.clover_small {
    background-image: url(/stuff/clover_small.gif);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    left: 40px;
    right: 0px;
    top: -160px;
    bottom: 0px;
    z-index: 100;
}

.art {
    background-color: #ffede6;
    border: 1px solid #f4d3ae;
    height: 160px;
}

.art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

/* stuff that isn't my code */
/* ===== Scrollbar CSS ===== */
/* https://codepen.io/stephenpaton-tech/full/JjRvGmY */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #dd9e9e #ffded2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffded2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dd9e9e;
    border-radius: 10px;
    border: 3px solid #f4d3ae;
  }
