<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>nonkiru.art ~ {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css?ver=12">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.gif">
  </head>

  <body id="body">
    <div class="main">
      <header>
      <div class="headertitle"></div>
     </header>
     <div class="subtitle">
      <h1>nonkiru <img src="/assets/images/flower.gif" alt=""> {{ page.title }}</h1>
    </div>
    <div class="flex">
      <nav>
        <div class="navigation">{% include navigation.html %}</div>
      </nav>
      <div class="innerbox">
        <main>
          {{ content | safe }}
        </main>
      </div>
      </div>
      <div class="footer">{% include footer.html %}</div>
    </div>
  </body>

</html>