@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

:root {
    --babypink: #fff5f4;
    --pink: #ffbbbb;
    --brown: #994958;
    --blue: #2B5C5F;
    --white: #fff;
    --inner-border: 1px solid var(--pink);
  }
  

* {
    padding: unset;
    margin: unset;
    line-height: unset;
}

::selection {
    background-color: var(--pink);
}

body {
    background-color: var(--babypink);
    background-image: url(/assets/bg.gif);
    color: var(--brown);
    font-family: "Sono", monospace;
    font-size: 14px;
}

header {
    color: var(--brown);
    background-color: var(--babypink);
    border: var(--inner-border);
    padding: 3px;
}

h1 {
    font-size: 16px;
}

a {
    color: var(--blue);
}

.container {
    margin: auto;
    margin-top: 30px;
    max-width: 600px;
}

.mainbox {
    background-color: var(--white);
    border-radius: 2px;
    border: 1px solid var(--brown);
}

.innerbox {
    padding: 30px;
    border: var(--inner-border);
}

.footer {
    color: var(--brown);
    text-align: center;
    padding: 5px;
}