<h2>Sitely</h2>
<ul>
    <a href="/"><li id="home">Home</li></a>
    <a href="/layouts/"><li id="sitelayouts">Website Layouts</li></a>
    <a href="/resources/"><li id="sitelayouts">F2U Resources</li></a>
    <a href="/guestbook/"><li id="guestbook">Guestbook</li></a>
    <a href="/links/"><li id="link">Links</li></a>
</ul>
<h2>Personal</h2>
<ul>
    <a href="/about/"><li id="about">About Me</li></a>
    <a href="/art/"><li id="art">Art</li></a>
    <a href="/blog/"><li id="blog">Blog</li></a>
    <a href="/reading/"><li id="reading">Reading</li></a>
</ul>
<h2>Off-Site</h2>
<ul>
    <a href="https://vgen.co/nonkiru"><li id="art">Art Commissions</li></a>  
</ul>