<h2>Sitely</h2>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about_site/">About this Site</a></li>
    <li><a href="/credits/">Website Credits</a></li>
    <li><a href="/guestbook/">Guestbook</a></li>
</ul>
<h2>Personal</h2>
<ul>
    <li><a href="/about/">About Me</a></li>
    <li><a href="/art/">Art</a></li>
</ul>
<h2>Off-Site</h2>
<ul>
    <li><a href="/links/">Links, Webrings</a></li>
</ul>