<h2>Sitely</h2>
<ul>
    <li id="home"><a href="/home/">Home</a></li>
    <li id="aboutsite"><a href="/about_site/">About this Site</a></li>
    <li id="sitecredit"><a href="/credits/">Website Credits</a></li>
    <li id="sitelayouts"><a href="/layouts/">Website Layouts</a></li>
    <li id="sitelayouts"><a href="/resources/">F2U Resources</a></li>
    <li id="guestbook"><a href="/guestbook/">Guestbook</a></li>
    <li id="link"><a href="/links/">Links</a></li>
</ul>
<h2>Personal</h2>
<ul>
    <li id="about"><a href="/about/">About Me</a></li>
    <li id="art"><a href="/art/">Art</a></li>
    <li id="blog"><a href="/blog/">Blog</a></li>
    <li id="oc"><a href="/ocs/">OCs</a></li>
</ul>
<h2>Off-Site</h2>
<ul>
    <li id="microblog"><a href="https://thoughts.nonkiru.art/">Microblog</a></li>
    <li id="art"><a href="https://vgen.co/nonkiru">Art Commissions</a></li>  
</ul>