<h1>Misc.</h1>
<h2>Settings</h2>
<div style="margin: 0;">
<a href="#" id="theme-toggle" onclick="modeSwitcher()" class="fakebutton">Toggle Theme</a>
<br>
<button id="play-gif" onclick="myPlayFunction()">Play GIFs</button>
<button id="stop-gif" onclick="myPauseFunction()">Stop GIFs</button>
<br>
<button onclick="cursorEffect.destroy()" style="margin-top: 0.35rem;">Remove Cursor Trail</button>
</div>
<div style="text-align:center;">
<h2>Link Me</h2>
Feel free to hotlink!
<br>
<div class="freezeframe">
<img src="/../assets/img/nonkiru_button_light.gif" alt="A button for nonkiru.art! Light version.">
<img src="/../assets/img/nonkiru_button_dark.gif" alt="A button for nonkiru.art! Dark version.">
<br>
<label for="LightButton">The code for the light button.</label>
<textarea id="LightButton" readonly style="width: 100%; resize: none;"><img src="https://nonkiru.art/assets/img/nonkiru_button_light.gif" alt="A button leading to nonkiru.art."></textarea>
<br>
<label for="DarkButton">The code for the dark button.</label>
<textarea id="DarkButton" readonly style="width: 100%; resize: none;"><img src="https://nonkiru.art/assets/img/nonkiru_button_dark.gif" alt="A button leading to nonkiru.art."></textarea>
</div>
<br>

<p style="text-align: center;"><a href="/legacy_buttons/">Legacy Buttons</a></p>
<br>
<div class="freezeframe" style="text-align: center;">
<img src="/assets/img/border_simple.webp" alt="">
</div>
<br>
</div>