<h1>Misc.</h1>
<h2>Settings</h2>
<div style="margin: 0;">
<a href="#" id="theme-toggle" onclick="modeSwitcher()" class="fakebutton">Toggle Theme</a>
<br>
<button id="play-gif" onclick="myPlayFunction()">Play GIFs</button>
<button id="stop-gif" onclick="myPauseFunction()">Stop GIFs</button>
</div>
<h2>Link Me</h2>
<small><b>Note:</b> Buttons are to be updated.</small>
Feel free to hotlink!
<br>
<div class="freezeframe">
<img src="/../assets/img/nonkiru_button.gif" alt="A button for nonkiru.art!"><img src="/../assets/img/non_arunyi_button.gif" alt="A smaller button for nonkiru.art.">
<br>
<label for="BigButton">The code for the big button.</label>
<textarea id="BigButton" readonly style="width: 100%; resize: none;"><img src="https://nonkiru.art/assets/img/nonkiru_button.gif" alt="A button leading to nonkiru.art."></textarea>
<br>
<label for="SmallButton">The code for the small button.</label>
<textarea id="SmallButton" readonly style="width: 100%; resize: none;"><img src="https://nonkiru.art/assets/img/non_arunyi_button.gif" alt="A button leading to nonkiru.art."></textarea>
</div>

<br>
<div class="freezeframe" style="text-align: center;">
<img src="/assets/img/border_simple.webp" alt="">
</div>
<br>