<h1>Misc.</h1>
<h2>Settings</h2>
<div style="margin: 0;">
<a href="#" id="theme-toggle" onclick="modeSwitcher()" class="fakebutton">Toggle Theme</a>
<br>
<button onclick="cursorEffect.destroy()" style="margin-top: 0.35rem;">Remove Cursor Trail</button>
</div>
<div style="text-align:center;">
<h2>Link Me</h2>
Feel free to hotlink! 
<img src="/../assets/img/nonkiru_button_light.gif" alt="A button for nonkiru.art! Light version.">
<img src="/../assets/img/nonkiru_button_dark.gif" alt="A button for nonkiru.art! Dark version.">

<details>
<summary>Button Codes</summary>
<label for="LightButton">The code for the light button.</label>
<textarea id="LightButton" readonly style="width: 100%; resize: none;"><a href="https://nonkiru.art"><img src="https://nonkiru.art/assets/img/nonkiru_button_light.gif" alt="A button leading to nonkiru.art."></a></textarea>
<br>
<label for="DarkButton">The code for the dark button.</label>
<textarea id="DarkButton" readonly style="width: 100%; resize: none;"><a href="https://nonkiru.art"><img src="https://nonkiru.art/assets/img/nonkiru_button_dark.gif" alt="A button leading to nonkiru.art."></a></textarea>
<br>
</details>

<hr>

<p style="text-align: center;"><a href="/legacy_buttons/">Legacy Buttons</a></p>
<br>
<img src="/../assets/img/non_kitty.webp" alt="A small kitty; the website owner.">
<br><br>
<img src="/assets/img/border_simple.webp" alt="">
